body {
    font-family: "Poppins", Arial, sans-serif;
    background: #fff;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    color: gray;
}

.section-center {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.pd-bg {
    padding: 8rem 0;

}

.pd-top-bg {
    padding-top: 4rem;
}

.pd-md {
    padding: 6rem 0;

}

.pd-sm {
    padding: 4rem 0;

}

.pd-xsm {
    padding: 2rem 0;

}

.text-uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center !important;
}

.heading-1 {
    font-size: 70px;
    font-weight: 400;

}

.heading-2 {
    font-size: 45px;
    color: var(--clr-navy-blue);

}


.heading-3 {
    font-size: 40px;
    color: var(--clr-navy-blue);
    line-height: 54px;
    font-weight: 500;
    margin: 1rem 0;
    padding-bottom: 3.5rem;

}

.heading-4 {
    font-size: 24px;

    font-weight: 400;

}

.heading-5 {
    font-size: 20px;
    font-weight: 500;

}

.heading-5-blue {
    font-size: 20px;
    font-weight: 600;
    color: var(--clr-navy-blue);

}

.heading-5 {
    font-size: 16px;
    // color: rgba(0, 0, 0, 0.4);
    font-weight: 400;


}

.heading-6 {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.3);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;


}

.heading-7 {
    font-size: 12px;
    color: var(--clr-para);
    font-weight: 500;
}


.btn-white {
    background: #fff !important;
    border: 1px solid #fff !important;
    color: #267aa4 !important;

}

.heading-6-dark {
    font-size: 12px;

}

.font-w-200 {
    font-weight: 200 !important;

}

.font-500 {
    font-weight: 500 !important;
}

.font-w-700 {
    font-weight: 700;
}

.btn {
    padding: 16px 24px;
    cursor: pointer;
    border-radius: 40px;
    -webkit-box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
    box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;


}

.swiper-slide {
    margin-right: 0;
    // display: none;
}


.swiper,
swiper-container {
    // margin-left: auto;
    // margin-right: auto;
    // position: relative;
    //  overflow:visible !important; 
    // list-style: none;
    // padding: 0;
    // z-index: 1;
    // display: block
}