.blogs {



    &__header {

        text-align: center;
    }

    &__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 300px 300px;
        gap: 20px;

        max-width: 1200px;
        margin: 0 auto;
        padding: 0 1rem;
    }

    &__col {
        display: flex;
        background-color: #f7f7f7;
        // height: 300px;
        overflow: hidden;
        -webkit-box-shadow: 3px 3px 11px -3px rgba(0, 0, 0, 0.7);
        -moz-box-shadow: 3px 3px 11px -3px rgba(0, 0, 0, 0.7);
        box-shadow: 3px 3px 11px -3px rgba(0, 0, 0, 0.7);
    }

    &__col:nth-of-type(3) {
        flex-direction: row-reverse;
    }

    &__col:nth-of-type(4) {
        flex-direction: row-reverse;
    }

    &__picture {
        flex-basis: 50%;
    }


    &__img {
        // display: none;
        width: 100%;
        object-fit: cover;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    &__left {
        flex-basis: 50%;
        padding: 30px;

    }

    &__col--header {
        margin-bottom: 1rem;
    }

    &__col--header span {
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 500;
        margin-right: 10px;
    }

    &__col--header span i {
        color: var(--clr-orange);
        margin-right: 5px;
    }

    &__comment {
        color: var(--clr-orange);

    }

    &__heading {
        font-size: 20px;
        color: var(--clr-navy-blue);
        font-weight: 500;
        line-height: 30px;
        margin-bottom: 1rem;
        transition: all 300ms ease;
    }

    &__heading:hover {
        color: var(--clr-orange);
        cursor: pointer;

    }

    &__para {
        line-height: 24px;
    }
}

@media screen and (max-width:1000px) {

    .blogs {

        &__content {
            max-width: 900px;
            grid-template-columns: 1fr;
            // margin: 0 auto;
            // padding: 0 1rem;
        }


    }
}

@media screen and (max-width:600px) {

    .blogs {

        &__content {
            grid-template-rows: repeat(4, auto);

        }

        &__col {
            flex-direction: column;
            height: 100%;

        }

        &__img-1 {
            height: 400px;
        }

        &__col:nth-of-type(3) {
            flex-direction: column;
        }

        &__col:nth-of-type(4) {
            flex-direction: column;
        }



    }
}