.hero {
    position: relative;
    background-color: #D4EAF5;
    min-height: 100vh;
    z-index: 0;


    &__text {

        width: 50%;
    }

    &__para {
        width: 80%;
        padding-bottom: 1rem;
    }

    &__header {
        line-height: 54px;
        padding-top: 12rem;
    }

    &__img {
        height: 100%;
        min-height: 100vh;
        width: 50%;
        object-fit: cover;
        position: absolute;
        right: 0;
        top: 0;

        z-index: -1;


    }

}

@media screen and (max-width:700px) {

    .hero {

        &__img {
            display: none;

        }

        &__text {
            width: 100%;
        }

    }

}