.navbar {
    padding: .5rem 0;
    background-color: var(--clr-navbar);



    // &__content {}

    &__logoBox {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logoLink {
        font-size: 20px;
        font-weight: 700;
        color: #fff;
    }

    &__list {
        // padding-top: 1.2rem;
        height: 0;
        overflow: hidden;
        transition: all 400ms ease-in;



    }

    &__list.show-links {
        height: 15rem;
    }



    &__navLinks {
        color: #fff;



    }

    &__menuBtn {
        background: transparent;
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;

        display: flex;
        align-items: center;
        gap: 10px;


    }

    &__navLinks.active {
        color: #fff !important;
    }




}

@media screen and (min-width:940px) {

    .navbar {
        background-color: transparent;



        &__content {


            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: .4rem .7rem;


        }

        &__logoLink {
            font-size: 20px;
            display: block;
            color: #000000;
            font-weight: 700;
        }



        &__list {
            height: auto;
            display: flex;
            gap: 45px;
            transition: all 400ms ease-in;



        }

        &__icons {
            display: none;

        }

        &__navLinks {
            color: rgba(0, 0, 0, 0.6);
            font-size: 14px;
            font-weight: 500;


        }
    }
}