.navbar {
    padding: 1.2rem;
    background-color: var(--clr-navbar);



    &__content {
        // width: 80%;
        // margin: auto;



        // old code <====
        // padding: 2.5rem 0;
        // display: flex;
        // justify-content: space-between;

        // align-items: center;
    }

    &__logoBox {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__list {
        // height: 0;
        overflow: hidden;

        // old code <====
        // display: flex;
        // gap: 45px;
    }

    // &__logoLink {
    //     color: #fff;
    // }

    .show-links {
        height: 15rem;
    }



    &__navLinks {
        color: rgba(0, 0, 0, 0.6);
        font-size: 14px;
        font-weight: 500;

    }

    &__navLinks.active {
        color: #fff !important;
    }

    &__icons {
        // display: none;
        // z-index: 4;
    }


}

@media screen and (min-width:940px) {

    .navbar {
        background-color: transparent;

        // height: 100%s;
        // position: relative;


        // display: none;

        &__content {

            // width: 1100px;
            // margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: .4rem .7rem;

            // old code <==
            // padding: .5rem 0;
            // display: flex;
            // justify-content: space-between;

            // align-items: center;
        }

        &__logoLink {
            font-size: 1rem;
            display: block;
            color: #000000;
            font-weight: 700;
        }



        &__list {
            height: auto;
            display: flex;
            gap: 30px;

            // gap: 10px;
            // background-color: var(--clr-navbar);

        }

        &__icons {
            display: none;
            // z-index: 4;
        }
    }
}