.countUp {
    // padding: 8rem 0;



    &__div {
        gap: 50px;
        display: flex;
        align-content: center;
        justify-content: center;

    }

    &__numbers {

        font-size: 40px;
        color: #000;

    }
}