.countUp {
    background-color: var(--clr-sky-600);
    text-align: center;
    padding: 5rem 0;
    overflow: hidden;



    &__div {
        // max-width: 700px;
        margin: 0 auto;
        gap: 150px;
        display: flex;
        align-content: center;
        justify-content: center;

    }

    &__numbers {

        font-size: 40px;
        color: #000;
        font-weight: 600;
        letter-spacing: 5px;
        font-family: var(--ffamily-poppins);

    }

    &__para {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.4);
        font-weight: 700;
        text-transform: uppercase;
        line-height: 2px;
    }
}