.testimonial {
    // background: #dc9595 !important;
    position: relative;
    // overflow: visible;

    // &__content {
    // padding-bottom: 5rem;
    // }

    &__card-wrapper {
        // padding-top: 3rem;
        display: flex;
        gap: 10px;
        margin-right: 0;

    }

    &__card {
        padding: 30px;
        position: relative;
        border-radius: 4px;
        width: 400px;
        // overflow: visible;
        box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.24) !important;
        // display: none;
    }

    &__card:nth-of-type(2) {
        background-color: var(--clr-orange);
        color: #fff !important;
    }

    &__card:nth-of-type(2) &__name {
        color: #fff;
    }

    &__card:nth-of-type(2) &__icon {
        background-color: #fff;
        color: var(--clr-orange);
    }


    &__icon {
        position: absolute;
        top: -20px;
        left: 30px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--clr-orange);

        color: #fff;
        font-size: 16px;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__profile {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 1.3rem;
    }

    &__img {
        width: 80px;
        height: 80px;
        position: relative;
        border-radius: 50%;
    }

    &__name {
        font-weight: 500;
        font-size: 20px;
        margin-bottom: 0;
        color: var(--clr-orange);
    }



}